@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap');
body {
    font-family: "Truculenta", sans-serif;   
}

* {
    box-sizing: border-box;
}

/* CONTENEUR */
  .game-container {

  }


/* CARD */
/* 
Vous pouvez utiliser ce lien comme image de fond : 
https://jaimelallemand.fr/img/memory/quizy-mg-item-topxs.jpg.png
Ou choisir votre image personnalisée !
*/

.card {

}


/* Class ajoutée au retournement */
.flipped {

}

/* Message de succès */
.success {

}

/* Zone du message de succès */
/* Cette zone est à cacher en CSS et à montrer en JS */
#successText {

}

/* Zone du compteur */
#matchesCount {

}
